[submodule "openshift-ansible"]
	path = openshift-ansible
	url = https://github.com/detiber/openshift-ansible.git
	branch = v3-beta3
[submodule "training"]
	path = training
	url = https://github.com/openshift/training.git
[submodule "simple-openshift-sinatra-sti"]
	path = simple-openshift-sinatra-sti
	url = https://github.com/openshift/simple-openshift-sinatra-sti
